@model HomeWork1Day1.Models.ViewModels.MyAccountViewModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MyAccountViewModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
