@model IPagedList<HomeWork1Day1.Models.ViewModels.MyAccountViewModels>

@{
    ViewBag.Title = "myAccountBookChildAction";
    Layout = "";
}

<table class="table">
    <tr>
        <th>#</th>
        <th>類別</th>
        <th>日期</th>
        <th>金額</th>
    </tr>

    @{
        int count = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>@(count++)</td>
            @ExtendedHelper.checkCategoryName(item.category)
            <td>@item.date</td>
            <td>@item.myMoney</td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("myAccountBook", new { page }))